<!DOCTYPE html>
{% extends "homepage/index.html" %}

{% load static %}

{% block body_bloc %}
	<title>Checkin Books</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block body_block %}
	<section align="center" class="container">
		<div >

			<h1>Search for Books to Check-In</h1>

			<form action="{% url 'checkinbooks:index' %}" method="post" class="form-inline">
				<div class="form-group">
					{% csrf_token %}
					<input type="text" name="checkin" class="form-control" />
					<input type="submit" class="btn btn-primary" name="searchbtn">
				</div>
			</form>

		</div>
		{% if books %}	
			<div class="container">
				<h3>Heres what we found</h3>
				<table class="table">
				<tr style="background-color: orangered">
					<th>Isbn</th>
					<th>Title</th>
					<th>Author</th>
					<th>Card Number</th>
					<th>Borrower Name</th>
					<th>Ssn</th>
					<th>Check In</th>
				</tr>
				{% for book in books %}
				<tr>
					<td>{{ book.0 }}</td>
					<td>{{ book.1 }}</td>
					<td>{{ book.2 }}</td>
					<td>{{ book.3 }}</td>
					<td>{{ book.4 }}</td>
					<td>{{ book.5 }}</td>
					<td>
						<form action="{% url 'checkinbooks:index' %}" method="POST" id="card_no_form">
							{% csrf_token %}
							<input type="hidden" name="isbnrtbk" value = {{book.0}} />
							<input type="hidden" name="loanid" value = {{book.6}} />
							<input type="submit" name="checkinbtn" class="btn" value="Check-In" />
						</form>
					</td>
				</tr>
				{% endfor %}
				</table>
			</div>
		{% else %}
			{% if get == False %}
				<h3>No Books Available</h3>
			{% endif %}
		{% endif %}

		<div id="loanInfo">
			{% if message %}
				{{ message }}
			{% endif %}
		</div>
	</section>
{% endblock %}