<!DOCTYPE html>
{% extends "homepage/index.html" %}

{% load static %}

{% block body_bloc %}
	<title>Add Borrower</title>
	<link rel="stylesheet" href="{% static 'css/sty.css' %}">
{% endblock %}

{% block body_block %}
	<section align="center" class="container">
		<h1 style="width: max-content;margin: auto;padding-top: 50px;">Please fill the information below</h1>
		<table align="center">
			<form align="center" action="{% url 'addborrowers:index' %}" method="POST" class="form-inline">
				<div class="form-group">
					{% csrf_token %}
					<tr>
						<td>Full Name</td>
						<td><input type="text" name="fname" class="form-control" required="1" /></td>
					</tr>
					<tr>
						<td>SSN</td>
						<td><input type="text" style="margin-top: 1%" name="ssn" class="form-control" required="1" /></td>
					</tr>
					<tr>
						<td>Address</td>
						<td><input type="text" style="margin-top: 1%" name="address" class="form-control" required="1" /></td>
					</tr>
					<tr>
						<td>Phone</td>
						<td><input type="text" style="margin-top: 1%" name="phone" class="form-control" required="1" /></td>
					</tr>
					<tr>
						<td colspan="2" align="center"><input type="submit" class="btn btn-primary col-lg-8 mx-auto" style="margin: 5% 0 0 29%" value="Add" name="addborrower"></td>
					</tr>
				</div>
			</form>
		</table>

		{% if ssnexist %}
			SSN already exists, please try again
		{% else %}
			{% if message %}
				{{message}}
			{% endif %}
		{% endif %}
	</section>
{% endblock %}