<!DOCTYPE html>
{% extends "homepage/index.html" %}
<!--<html>-->
<!--<head>-->
{% load static %}
	{% block body_bloc %}
	<title>Add Borrower</title>
	<link rel="stylesheet" href="{% static 'css/sty.css' %}">
	{% endblock %}
<!--	<title>Add Borrowers</title>-->
<!--	<meta charset="utf-8">-->
<!--	<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!-- 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<!--</head>-->
<!--<body style="background-color: #b3b3b3">-->
<!--	<nav class="navbar navbar-dark" style="background-color: goldenrod">-->
<!--	  <div class="container-fluid">-->
<!--	    <div class="navbar-header">-->
<!--	      <a class="navbar-brand" style="font-size: 175%" href="../">Library Management System</a>-->
<!--	    </div>-->
<!--	    <ul class="nav navbar-nav" style="float: right">-->
<!--	      <li><a href="../booksearch" style="font-size: 125%">Book Search</a></li>-->
<!--	      <li><a href="../checkinbooks" style="font-size: 125%">Check-In</a></li>-->
<!--	      <li><a href="../payfine" style="font-size: 125%">Pay Fine</a></li>-->
<!--	      <li><a href="../addborrowers" style="font-size: 125%">Add Borrowers</a></li>-->
<!--	    </ul>-->
<!--	  </div>-->
<!--	</nav>-->
	{% block body_block %}
	<section align="center">
		<h1>Please fill the information below</h1>
		<table align="center">
			<form align="center" action="{% url 'addborrowers:index' %}" method="POST" class="form-inline">
				<div class="form-group">
					{% csrf_token %}
					<tr style="width: 150%">
						<td>Full Name</td>
						<td style="width: 88%"><input type="text" name="fname" class="form-control" required="1" /></td>
					</tr>
					<tr>
						<td>SSN</td>
						<td><input type="text" style="margin-top: 1%" name="ssn" class="form-control" required="1" /></td>
					</tr>
					<tr>
						<td>Address</td>
						<td><input type="text" style="margin-top: 1%" name="address" class="form-control" required="1" /></td>
					</tr>
					<tr>
						<td>Phone</td>
						<td><input type="text" style="margin-top: 1%" name="phone" class="form-control" required="1" /></td>
					</tr>
					<tr>
						<td colspan="2" align="center"><input type="submit" class="btn btn-primary col-lg-6 col-md-6 col-sm-6 col-xs-6 mx-auto" style="margin: 5% 0 0 29%" value="Add" name="addborrower"></td>
					</tr>
				</div>
			</form>
		</table>

		{% if ssnexist %}
			<h3>SSN already exists, please try again</h3>
		{% else %}
			{% if message %}
				{{message}}
			{% endif %}
		{% endif %}
	</section>
	{% endblock %}
<!--</body>-->
<!--</html>-->