<!DOCTYPE html>
{% extends "homepage/index.html" %}

{% load static %}

{% block body_bloc %}
	<title>Book Search</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block body_block %}
	<section align="center" class="container">
		<div class="col col-md-auto">
			<h1>
				Search for Books
			</h1>

			<form action="{% url 'booksearch:index' %}" class="form-inline" method="post">
				<div class="form-group">
					{% csrf_token %}
					<input type="text" name="search" class="form-control" value="" />
					<input type="submit" class="btn btn-primary" name="searchbtn">
				</div>
			</form>
		</div>


		{% if books %}	
			<div class="container">
				<h3>Here are all books available</h3>
				<table class="table">
					<tr style="background-color: orangered">
<!--						<th>Cover</th>-->
						<th>Isbn</th>
						<th>Title</th>
						<th>Author</th>
						<th>Available</th>
						<th>Check out</th>
					</tr>
					{% for book in books %}
					<tr>
<!--						<td><img src="{{ book.3 }}"></td>-->
						<td>{{ book.0 }}</td>
						<td>{{ book.1 }}</td>
						<td>{{ book.2 }}</td>
						<td>
							{% if book.4 == 1 %}
								Yes
							{% else %}
								No
							{% endif %}
						</td>
						<td>
							<form action="{% url 'booksearch:index' %}" method="POST">
								{% csrf_token %}
								<input type="hidden" name='cardno' id={{book.0}} />
								<button onclick="askCardNo('{{book.0}}')" class="btn" name="checkout" type="submit">Check Out</button>
							</form>
							
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		{% else %}
			{% if get == False %}
				<h3>No Books Available</h3>
			{% endif %}
		{% endif %}

		<div id="loanInfo">
			{% if message %}
				{{ message }}
			{% endif %}
		</div>

		<script type="text/javascript">
			function askCardNo(isbn)
			{
				var card_no = prompt("Enter Card Number");
				document.getElementById(isbn).value = card_no +','+isbn;
			}
		</script>
	</section>
{% endblock %}